<div>
    <div $ngIf="1">
        <h1>Le reiki, une méthode de transmission d'énergie</h1>
        <p>
            Le reiki est un moyen de développement personnel et une approche thérapeutique manuelle pour une meilleure écoute du corps.
                <br>
                C’est également une préparation émotionnelle face à certaines situations qui permet de faire appel aux ressources naturelles que chaque personne possèdent. 
                <br>
                Cette thérapie par apposition des mains permet de transmettre l'énergie vitale pour libérer les blocages et de développer le processus d'auto-guérison. 
                <br>
                Praticienne qualifiée, mon cabinet est situé à La Pouëze près de Segré, Lion-d’Angers, Montreuil-Juigné, Beaucouzé ou encore Avrillé, je propose des soins à titre préventif pour favoriser votre capital santé (apporter un bien-être, prendre un moment pour soi...) mais aussi à titre curatif suite à une maladie ou à un accident. 
                <br>
                En pratique régulière, le reiki se base sur la pose des mains de votre énergéticienne à distance ou sur le corps ce qui permet d’apporter l’énergie qui va se diriger naturellement vers les zones qui en ont le plus besoin.
        </p>
    </div>
    <div $ngIf="2">
        <h1>Anita Vivien , praticienne de reiki à La Pouëze</h1>
        <p>
            Passionnée par le reiki et l’art japonais d'harmonisation et de guérison, praticienne qualifiée je vous reçois à La Pouëze Erdre en Anjou dans le département du Maine-et-Loire.
            Je propose des séances de reiki adaptées à chaque personne afin de vous aider à retrouver votre capitale santé (apporter un bien-être, prendre un moment pour soi, et aider le corps à s'auto-guérir).
            <br>
            Née en 1972 dans les Mauges, j'ai travaillé dans le commerce pendant 28 ans.
            <br>
            De part mon expérience de vie, j'ai eu la chance de découvrir le monde et les bienfaits du Reiki.
            L'énergie reiki ma permis d'améliorer mon quodidien, d'accepter les moments plus difficiles de ma vie, d'avoir une autre vision de mon corps, de mon mental.
            <br>
            Pour cela j'ai suivi les formations :
            <br>
                REIKI USUI 1 : shoden
                <br>
                REIKI USUI 2 : okuden
                <br>
                REIKI USUI 3 : shinpiden  ainsi que le REIKI KARUNA® 1et 2 qui complète et renforce le reiki usui.
            <br>
            Après avoir compris les vertus bienfaisantes du reiki, j'ai décidée d'en faire mon métier pour vous apporter cette belle énergie de vie qui aidera votre corps et votre mental à se ressourcer et à retrouver une vie harmonieuse.
            <br>
            <br>
            Praticienne qualifiée, je vous reçois à mon domicile dans le département du Maine-et-Loire et j'ai la possibilité de me déplacer chez vous ou en institut dans un rayon de 30 km autour de La Pouëze, notamment à Segré, au Lion-d’Angers, à Montreuil-Juigné, à Beaucouzé ou encore à Avrillé.
        </p>
    </div>
    <div $ngIf="3">
        <h1>Pourquoi ?</h1>
        <p>
            Le reiki, énergie universelle
            <br>
            Cette technique japonaise de soin énergétique restaure et ré-harmonise l’équilibre physique, mental, émotionnel et spirituel.
            <br>
            Cette technique naturelle par apposition des mains permet de canaliser l’énergie vitale pour libérer les blocages et accélérer le processus d’auto-guérison et stimuler notre système immunitaire.
            <br>
            Le reiki est un allié très puissant pour aider à gérer la douleur, le stress, la dépression, les troubles physiques, émotionnels, les infections, les dépendances, les troubles du sommeil...
            <br>
            Le reiki aide dans la maladie, limite les effets secondaires des chimiothérapies, radiothérapies.
            Aide en fin de vie, libère les angoisses.
            <br>
            Permet de retrouver la sérénité et la joie de vivre... 
            <br>
            Que vous soyez à La Pouëze, Segré, Lion-d’Angers, Montreuil-Juigné, Beaucouzé ou encore Avrillé, bénéficiez d'une séance de Reiki adaptée à vos besoins.
        </p>
    </div>
    <div $ngIf="4">
        <h1>Bébés - enfants</h1>
        <p>
            Ce soin énergétique permet un travail sur les tracas du quotidien des plus jeunes comme les peurs, les réveils nocturnes ou difficultés d'endormissement, l'hyperactivité, la confiance en soi, la concentration, la préparation aux examens scolaires, les traumatismes vécus comme une séparation, un divorce …
            La séance est plus courte que chez les adultes car ils sont plus réceptifs, il faut compter environ 40 minutes.
            En pratique, l’enfant est allongé sur le dos, habillé et je travaille uniquement avec les mains sans même toucher le corps de l’enfant, ce qui est rassurant pour les enfants qui ont parfois de la retenue vis-à-vis de leur corps et du praticien.
            Chaque enfant, est différent et je m’adapte au cas par cas.
            La séance de Reiki doit être acceptée et en aucun cas imposée à vos enfants.
        </p>
    </div>
    <div $ngIf="5">
        <h1>Adultes</h1>
        <p>Le Reiki est une pratique naturelle basée sur l'apport d'énergie. 
            Une séance est avant tout un moment pour revenir à soi, libérer son corps et son esprit des tensions du quotidien, des énergies "usées", dissoudre les blocages.
            Prenez le temps de prendre le recul nécessaire, de mettre votre mental au repos.
            Le soin Reiki permet de gagner en vitalité, en énergie, de soulager vos tensions et vos douleurs, de vous "reconnecter" à vous-même et de reprendre confiance en vous et goût à la vie...
        </p>
    </div>
    <div $ngIf="6">
        <h1>Handicapés</h1>
        <p>Le Reiki est une méthode de soin énergétique répondant à un besoin de patients trop souvent négligé par la médecine moderne.
            Besoin d’autant plus important lorsque l’on est en situation de lourd handicap moteur ou mental.
            Je peux exercer avec la personne handicapée même dans son contexte hospitalier.
            Le but est de vous accompagner vers un état d'esprit plus propice aux soins médicaux et à un état plus serein avec le corps en retrouvant la confiance et l'estime de soi.
        </p>
    </div>
</div>

