<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>        
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<h1 mat-dialog-title>Contact</h1>

<mat-dialog-content class="mat-typography">
    <mat-tab-group>
        <mat-tab label="Envoyer un message">
            <form class="common-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom">
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="prenom">
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <input matInput formControlName="telephone">
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Sujet</mat-label>
                    <input matInput formControlName="sujet">
                </mat-form-field>
                <mat-form-field class="field message" appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message"></textarea>
                </mat-form-field>
                <button mat-button class="submit_btn" (click)="save()">Envoyer</button>
            </form>
            <!-- <p>Bientôt disponible</p> -->
        </mat-tab>
        <mat-tab label="Coordonnées">
            <mat-list class="information">
                <mat-list-item>
                    <h1>Anita Vivien</h1>
                </mat-list-item>
                <mat-list-item>
                    <a class="adress" href="https://www.google.com/maps/place/22+Rue+du+Pressoir,+49370+Erdre-en-Anjou/@47.5540188,-0.802294,17z/data=!3m1!4b1!4m5!3m4!1s0x480884e888998d87:0x236779214340fab6!8m2!3d47.5540188!4d-0.8001053">
                        <i class="fas fa-map-marker-alt"></i>
                        22 rue du pressoir, 
                        <br> 
                        <span style="padding-left: 10px;">49370 LA-POUËZE ERDRE EN ANJOU, FRANCE</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="tel" href="tel:+33651290928">
                        <i class="fas fa-phone-alt"></i>
                        0651290928
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="mail" href="mailto:contact@reiki49.fr">
                        <i class="fas fa-envelope"></i>
                        contact@reiki49.fr
                    </a>
                </mat-list-item>
            </mat-list>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2692.7076191754754!2d-0.800105!3d47.554019!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480884e888998d87%3A0x236779214340fab6!2s22%20Rue%20du%20Pressoir%2C%2049370%20Erdre-en-Anjou!5e0!3m2!1sfr!2sfr!4v1630428380042!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div>
                <img src="./../../assets/carteDeVisite.jpg" alt="carte de visite" width="50%" height="50%" class="rotation270">
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
