.common-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
    .field {
        width: 70%;

        &.message {
            height: 100px;
        }
    }

    .submit_btn {
        width: 40%;
        background-color: #07c894;
    }
}

.information {
    margin-top: 15px;
    overflow-y: hidden;
    justify-content: center;

    h3 {
        font-size: 26px;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black
    }
}

.rotation270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-left: 20%;
}

mat-dialog-content {
    max-height: 70vh !important;
    overflow: auto !important;
}
