.common-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .field {
        width: 70%;

        &.message {
            height: 100px;
        }
    }

    .submit_btn {
        width: 40%;
        background-color: #07c894;
    }
}
