@import './../assets/scss/variables.scss';

.content {
    background: #beb48e;
    min-height: auto;
    font-family: 'Montserrat', sans-serif;

    .header {
        font-family: 'Montserrat', sans-serif;
        position: fixed;
        width: 100% !important;
        height: 150px;
        top: 0;
        background: #beb48e;
        padding-top: 20px;
        z-index: 4;

        h1 {
            text-align: center;
        }

        .btn {
            order: 1;
            align-content: center;
        }

        a {
            padding-right: 10px;
            text-decoration: none;
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .body {
        order: 2;
        align-self: center;
        margin-top: 5%;
        // width: 100%;
        height: 100%;
        font-family: 'Montserrat', sans-serif;
    }
}