<div class="content">
    <mat-toolbar class="header">
        <div class="titre">
            <div>
                <span>Anita Vivien</span>
                <span>Reiki & soins energetique</span>
            </div>
        </div>
        <div class="btn">
            <button mat-button class="btn_tarif" (click)="openTarif()">Tarif</button>
            <button class="btn-contact" mat-button (click)="openContact()">Contact</button>
        </div>
    </mat-toolbar>
    <div class="body">
        <app-home-page></app-home-page>
    </div>
</div>
