@import './../assets/scss/variables.scss';

.content {
    background: $primary;
    display: flex;
    flex-direction: column;

    .header {
        position: fixed;
        height: 100px;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        background: $primary;
        padding-top: 20px;
        z-index: 2;
        // overflow: hidden;

        .btn {
            order: 1;
            align-content: center;
        }
    }

    .body {
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
    }

    .footer {

    }
}