@import './../assets/scss/variables.scss';

html, body {
    height: 100%;
}

.content {
    background: #beb48e;
    display: flex;
    flex-direction: row;
    min-height: auto;

    .header {
        position: fixed;
        height: 100px;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        background: #beb48e;
        padding-top: 20px;
        z-index: 4;
        // overflow: hidden;

        .btn {
            order: 1;
            align-content: center;
        }

        a {
            padding-right: 10px;
            text-decoration: none;
            color: black;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .body {
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
        height: 100%;
    }
}