@import './../../assets/scss/variables.scss';
$base: 1rem;
.body {
    font-family: $font-family;
    background: $secondary;

    .presentation_bloc {
        position: relative;
        top: 0px;
        min-height: 900px !important;
        max-width: 100%;
        z-index: 2;

        @media (min-width: 760px) { 
            background-image: url('./../../assets/arbre-banniere.jpg');
        }

        .text_presentation {
            // margin-top: 20%;
            line-height: 10em;
            padding-bottom: 10%;
            h1, h2 {
                text-align: center;
                color: #2c3e50; 
                z-index: 1;
                font-family: $font-family;
                font-size: 50px;
                font-weight: bold;
            }
        }

        .arrow_container {
            background: transparent;
            text-align: center;
            top: 50%;

            .content {
                position: absolute;
                left: 50%;
                top: 55%;
                transform: translate(-50%, -50%);

                @media (max-width: 760px) { 
                    left: 42%;
                }

                .chevron {
                    position: absolute;
                    width: $base * 3.5;
                    height: $base * 0.8;
                    opacity: 0;
                    transform: scale(0.3);
                    animation: move-chevron 3s ease-out infinite;
                }
                  
                .chevron:first-child {
                    animation: move-chevron 3s ease-out 1s infinite;
                }
                  
                .chevron:nth-child(2) {
                    animation: move-chevron 3s ease-out 2s infinite;
                }
                  
                .chevron:before,
                .chevron:after {
                   content: '';
                   position: absolute;
                   top: 0;
                   height: 100%;
                   width: 50%;
                   background: #2c3e50;
                }
                  
                .chevron:before {
                   left: 0;
                   transform: skewY(30deg);
                }
                  
                .chevron:after {
                   right: 0;
                   width: 50%;
                   transform: skewY(-30deg);
                }
                  
                @keyframes move-chevron {
                    25% {
                        opacity: 1;
                    }
                    33.3% {
                        opacity: 1;
                        transform: translateY($base * 3.8);
                    }
                    66.6% {
                        opacity: 1;
                        transform: translateY($base * 5.2);
                    }
                    100% {
                        opacity: 0;
                        transform: translateY($base * 8) scale(0.5);
                    }
                }
            }
        }        
    }

    .container {
        position: relative;
        top: 0px;
        padding-bottom: 5%;

        .card {
            width: 100%;
            justify-content: space-around;
            height: auto; 
            
            @media (max-width: 760px) { 
                margin-left: 10%;
                margin-bottom: 10%;
            }

    
            .bloc_card {
                display: inline-block;
                width: 300px;
                text-align: center;
    
                .img-container {
                    height: 230px;
                    width: 200px;
                    overflow: hidden;
                    border-radius: 0px 0px 20px 20px;
                    display: inline-block;
    
                    img {
                        transform: skew(0deg, -13deg);
                        // height: 250px;
                        margin: -35px 0px 0px -70px;
                        justify-content: center;
                        // width: 150%;
                    }
    
                    .inner-skew {
                        display: inline-block;
                        border-radius: 20px;
                        overflow: hidden;
                        padding: 0px;
                        transform: skew(0deg, 13deg);
                        font-size: 0px;
                        margin: 30px 0px 0px 0px;
                        background: #c8c2c2;
                        height: 250px;
                        width: 200px;
                    }
                }
                .text_container {
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                    padding: 120px 20px 20px 20px;
                    margin-left: 30px;
                    border-radius: 20px;
                    background: #fff;
                    height: 250px;
                    margin: -120px 0px 0px 0px;
                    line-height: 19px;
                    font-size: 14px;
                    font-family: $font-family;
    
                    h2 {
                        margin: 20px 0px 10px 0px;
                        color: #04bcff;
                        font-size: 18px;
                        font-family: $font-family;
                    }
    
                    .btn_read-more {
                        margin-top: 10px;
                        display: inline-block;
                        border-radius: 10rem;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-family: $font-family;
                        letter-spacing: .15rem;
                        transition: all .3s;
                        position: relative;
                        z-index: 1;
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: grey;
                            border-radius: 10rem;
                            z-index: -2;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0%;
                            height: 100%;
                            background-color: darken(grey, 15%);
                            transition: all .3s;
                            border-radius: 10rem;
                            z-index: -1;
                        }
                        &:hover {
                            color: #fff;
                            &:before {
                            width: 100%;
                            }
                        }
                    }
                }
            } 
    
            figure {
                justify-content: space-around;
                position: relative;
                display: flex;
                // align-items: center;
                // justify-content: center;
                width: 300px;
                height: 667px;
                border-radius: 10px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                overflow: hidden;
                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    img {
                        padding-right: 10px;
                        transform: scale(1.25);
                    }
                    figcaption {
                        bottom: 0;
                    }
                }
                h2 {
                    font-family: $font-family;
                    position: absolute;
                    top: 50px;
                    left: 20px;
                    margin: 0;
                    padding: 0;
                    color: white;
                    font-size: 40px;
                    font-weight: 100;
                    line-height: 1;
                }
                img {
                    // height: 100%;
                    transition: 0.25s;
                }

                figcaption {
                    position: absolute;
                    bottom: -50%;
                    left: 0;
                    width: 90%;
                    margin: 0;
                    padding: 30px;
                    background-color: rgba(black,0.85);
                    box-shadow: 0 0 20px rgba(black,0.4);
                    color: white;
                    line-height: 1;
                    transition: 0.25s;
                    h3 {
                        margin: 0 0 20px;
                        padding: 0;
                        font-family: $font-family;
                    }
                    p {
                        font-size: 14px;
                        font-family: $font-family;
                        line-height: 1.75;
                    }
                    button {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 10px 0 0;
                        padding: 10px 30px;
                        background-color: $secondary;
                        border: none;
                        border-radius: 5px;
                        color: white;
                        font-size: 15px;
                        font-family: $font-family;
                    }
                }
            }
        }
    
        .seance {
            text-align: center;
            justify-content: center;
            width: 100%;
            margin-top: 150px;
            padding-top: 5%;
            padding-right: 5%;
            padding-bottom: 10%;
            background-color: #fff;

            @media (max-width: 760px) {
                padding-left: 20%;
                padding-bottom: 100%;
                margin-bottom: 20px;
            }
    
            .contenu_seance {

                .img-seance {
                    width: 70%;
                    height: auto;
        
                    img {
                        margin-top: 50px;
                        width: 600px;
                        border:2px solid #fff;
                        border-radius: 10px;
                        box-shadow: 10px 10px 5px #ccc;

                        @media (max-width: 760px) {
                            width: 100%;
                        }
                    }
                }
    
                .text_seance {
                    font-family: $font-family;
                    font-size: 18px;
                    width: 70%;
                    // padding: 2%;

                    @media (max-width: 760px) {
                    }
                }
            }
        }
        
        .seance_eft {
            text-align: center;
            width: 100%;
            height: auto;
            background-color: #fff;
            margin-bottom: 100px;

            h3 {
                text-align: left;
                font-weight: 600;
                font-family: $font-family;
            }
            .text_seance_eft {
                font-size: 18px;
                width: 50%;
                padding: 2%;
                h2 {
                    font-family: $font-family;

                }
            }
        }  
    }

    .footer {
        bottom: 0;
        padding-left: 15%;
        width: 100%;
        background: $primary;
        z-index: 4;
        padding-top: 3%;
        line-height: 25px;

        @media (max-width: 760px) {
            padding-top: 20%;
            padding-bottom: 30%;
        }

        .text_container {
            color: black;
            font-family: $font-family;
            font-size: 20px;
            font-weight: 500;

            a {
                text-decoration: none;
                color: black;
                margin-bottom: 10px;
                i {
                    margin-right: 10px;
                }

                @media (max-width: 760px) {
                    text-align: center; 
                    padding-bottom: 5px;
                }
            }

            &.horaire {
                h3 {
                    font-size: 24px;
                    text-align: center;
                }

                mat-list-item {
                    font-size: 22px;
                    justify-content: center;
                }
            }
        }
        .middle_footer_text {
            margin-top: 30px;
            font-size: 20px;
            font-weight: 500;

            span {
                @media (max-width: 760px) {
                    text-align: center;
                }
            }
        }
    }
     
}