@import './../../assets/scss/variables.scss';
$base: 1rem;
$size-20: 20px;

.body {
    font-family: $font-family;
    background: $secondary;

    .presentation_bloc {
        position: relative;
        top: 0px;
        min-height: 900px !important;
        max-width: 100%;
        z-index: 2;

        @media (min-width: 760px) { 
            background-image: url('./../../assets/arbre-banniere.jpg');
        }

        .text_presentation {
            @media (min-width: 760px) {
                .box-title {
                    padding-top: 5%;
                    margin: 0 30% 0 30%;
                    background-color: white;
                    opacity: 0.8;
                }
            }

            h1, h2 {
                text-align: center;
                color: #2c3e50; 
                z-index: 1;
                font-family: $font-family;
                font-size: 50px;
                font-weight: bold;
                line-height: 3rem;

                @media (max-width: 1280px) {
                    line-height: 50px;
                }
            }
        }

        .arrow_container {
            background: transparent;
            text-align: center;
            top: 50%;

            .content {
                position: absolute;
                left: 48%;
                top: 55%;
                transform: translate(-50%, -50%);

                @media (max-width: 760px) { 
                    left: 42%;
                }

                .chevron {
                    position: absolute;
                    width: $base * 3.5;
                    height: $base * 0.8;
                    opacity: 0;
                    transform: scale(0.3);
                    animation: move-chevron 3s ease-out infinite;
                }
                  
                .chevron:first-child {
                    animation: move-chevron 3s ease-out 1s infinite;
                }
                  
                .chevron:nth-child(2) {
                    animation: move-chevron 3s ease-out 2s infinite;
                }
                  
                .chevron:before,
                .chevron:after {
                   content: '';
                   position: absolute;
                   top: 0;
                   height: 100%;
                   width: 50%;
                   background: #2c3e50;
                }
                  
                .chevron:before {
                   left: 0;
                   transform: skewY(30deg);
                }
                  
                .chevron:after {
                   right: 0;
                   width: 50%;
                   transform: skewY(-30deg);
                }
                  
                @keyframes move-chevron {
                    25% {
                        opacity: 1;
                    }
                    33.3% {
                        opacity: 1;
                        transform: translateY($base * 3.8);
                    }
                    66.6% {
                        opacity: 1;
                        transform: translateY($base * 5.2);
                    }
                    100% {
                        opacity: 0;
                        transform: translateY($base * 8) scale(0.5);
                    }
                }
            }
        }        
    }

    .container {
        position: relative;
        top: 0px;
        padding-bottom: 5%;

        .card {
            margin-top: 50px;
            width: 100%;
            justify-content: space-around;
            height: auto; 
            
            @media (max-width: 750px) { 
                margin-bottom: 5%;
            }

    
            .bloc_card {
                @media (max-width: 750px) {
                    margin-left: 10%;
                }
                display: inline-block;
                width: 300px;
                text-align: center;
    
                .img-container {
                    height: 230px;
                    width: 200px;
                    overflow: hidden;
                    border-radius: 0px 0px $size-20 $size-20;
                    display: inline-block;
    
                    img {
                        transform: skew(0deg, -13deg);
                        margin: -35px 0px 0px -70px;
                        justify-content: center;
                    }
    
                    .inner-skew {
                        display: inline-block;
                        border-radius: $size-20;
                        overflow: hidden;
                        padding: 0px;
                        transform: skew(0deg, 13deg);
                        // font-size: 0px;
                        margin: 30px 0px 0px 0px;
                        background: #c8c2c2;
                        height: 250px;
                        width: 200px;
                    }
                }
                .text_container {
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                    padding: 120px $size-20 $size-20 $size-20;
                    margin-left: 30px;
                    border-radius: $size-20;
                    background: #fff;
                    height: 250px;
                    margin: -120px 0px 0px 0px;
                    line-height: 19px;
                    font-size: 14px;
                    font-family: $font-family;
    
                    h2 {
                        margin: $size-20 0px 10px 0px;
                        color: #2c3e50;
                        font-size: 18px;
                        font-weight: bold;
                        font-family: $font-family;
                    }
    
                    .btn_read-more {
                        color: #fff;
                        font-size: 1rem;
                        font-family: $font-family;
                        letter-spacing: .15rem;
                        z-index: 1;
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: grey;
                            border-radius: 10rem;
                            z-index: -2;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0%;
                            height: 100%;
                            background-color: darken(grey, 15%);
                            transition: all .3s;
                            border-radius: 10rem;
                            z-index: -1;
                        }
                        &:hover {
                            color: #fff;
                            &:before {
                            width: 100%;
                            }
                        }
                    }
                }
            }

            &.card_secondary {
                justify-content: center;
                margin-bottom: 50px;
                figure {
                    justify-content: space-around;
                    position: relative;
                    display: flex;
                    width: 300px;
                    height: 667px;
                    border-radius: 10px;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    overflow: hidden;

                    &:hover {
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        img {
                            padding-right: 10px;
                            transform: scale(1.25);
                        }
                        // button {
                        //     top: 50%;
                        // }
                    }

                    h2 {
                        font-family: $font-family;
                        position: absolute;
                        top: 50px;
                        left: $size-20;
                        margin: 0;
                        padding: 0;
                        color: white;
                        font-size: 40px;
                        font-weight: 100;
                        line-height: 1;
                    }

                    button {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 10px 0 0;
                        top: 90%;
                        padding: 10px 30px;
                        background-color: #ecefed;
                        border: none;
                        border-radius: 5px;
                        color: black;
                        font-size: 15px;
                        font-family: $font-family;
                    }

                }
    
                @media (max-width: 760px) {
                    figure {
                        width: 80%;
                        button {
                            top: 80%;
                        }
                    }
                }
            }
        }
    
        .seance {
            text-align: center;
            justify-content: center;
            width: 100%;
            margin-top: 150px;
            padding: 5% 5% 10% 0;
            background-color: #fff;

            @media (max-width: 760px) {
                padding-left: 20%;
                padding-bottom: 100%;
                margin-bottom: $size-20;
            }
    
            .contenu_seance {

                .img-seance {
                    width: 70%;
                    height: auto;
        
                    img {
                        margin-top: 50px;
                        width: 600px;
                        border:2px solid #fff;
                        border-radius: 10px;
                        box-shadow: 10px 10px 5px #ccc;

                        @media (max-width: 760px) {
                            width: 100%;
                        }
                    }
                }
    
                .text_seance {
                    font-family: $font-family;
                    font-size: 18px;
                    margin-left: 30px;
                    width: 70%;
                    h2 {
                        font-family: $font-family;
                        font-size: $size-20;
                    }
                }
            }
        }
        
        .seance_eft {
            text-align: center;
            width: 100%;
            height: auto;
            background-color: #fff;
            margin-bottom: 100px;

            h3 {
                text-align: left;
                font-weight: 600;
                font-family: $font-family;
            }
            .text_seance_eft {
                font-size: 18px;
                width: 50%;
                padding: 2%;
                h2 {
                    font-family: $font-family;
                    font-size: $size-20;
                }
                @media (max-width: 760px) {
                    mat-expansion-panel-header {
                        height: 150px;
                        
                    }
                    mat-accordion {
                        width: 100% !important;
                    }
                }
            }
        }  
    }

    .footer {
        bottom: 0;
        width: 100%;
        background: $primary;
        z-index: 4;
        padding: 3% 0 50px 15%;
        line-height: 25px;

        @media (max-width: 760px) {
            padding: 20% 0 30% 0;
        }

        .text_container {
            color: black;
            font-family: $font-family;
            font-size: $size-20;
            font-weight: 500;

            a {
                text-decoration: none;
                color: black;
                margin-bottom: 10px;
                i {
                    margin-right: 10px;
                }

                @media (max-width: 760px) {
                    text-align: center; 
                    padding-bottom: 5px;
                }
            }

            &.horaire {
                h3 {
                    font-size: 24px;
                    text-align: center;
                }

                mat-list-item {
                    font-size: 22px;
                    justify-content: center;
                }
            }
        }
        .middle_footer_text {
            margin-top: 30px;
            font-size: $size-20;
            font-weight: 500;

            span {
                @media (max-width: 760px) {
                    text-align: center;
                }
            }
        }
    }
}